html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    width: 500px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
}
.tagline {
    font-size: 24px;
    color: white;
}
.button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background: white;
    color: blueviolet;
}

/*
    Chat Page
 */
.member-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    background: navy;
    color: #fff;
}
.user-info {
    background: white;
    color: darkblue;
    padding: 10px;
}
.logout {
    float: right;
}
.member {
    padding: 10px;
    border-bottom: solid 1px white;
    cursor: pointer;
}
.member:hover {
    background: white;
    color: darkblue;
}
.member.active {
    background-color: azure;
    font-weight: bold;
    color: darkblue;
}
.message-area {
    background-color: azure;
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 0;
    width: 70%;
}
.chat-info {
    background-color: white;
    padding: 10px;
    color: black;
}
.messages {
    background: lightblue;
    height: 80%;
    overflow: auto;
    padding: 10px;
}
.message {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.message.by-user {
    background: darkgray;
}
.chat-form {
    position: fixed;
    left: 30%;
    bottom: 0;
    width: 70%;
    background: white;
    padding: 20px;
}
.chat-message {
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 4px;
    display: block;
    width: 100%;
}
