html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 500px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
}

.tagline {
    font-size: 24px;
    color: white;
}

.button {
    background-color: #f36;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: white;
    color: #f36;
}


/*
    Chat Page
 */

.member-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    background: #191d22;
    color: #fff;
    overflow: auto;
}

.user-info {
    color: #d4d7da;
    background: #252b33;
    padding: 15px;
}

.user-info .logout {
    cursor: pointer;
}

.user-info img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
}

.logout {
    float: right;
}

.member {
    color: #7293b3;
    padding: 15px;
    border-bottom: solid 1px #252b33;
    cursor: pointer;
    text-align: right;
}

.member img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background: #fff;
    padding: 2px;
    margin-top: -2px;
}

.member:hover, .member.active {
    color: white;
    background: #f36;
    border-bottom: transparent;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.message-area {
    background: #d3dae2;
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 0;
    width: 70%;
}

.chat-info {
    display: none;
    background-color: white;
    padding: 15px;
    color: #252b33;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.messages {
    background: #d3dae2;
    height: 84%;
    overflow: auto;
    padding: 10px;
}

.message {
    background: #fff;
    color: #252b33;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    max-width: 70%;
    float: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    clear: both;
}

.message.by-user {
    background: #3789ef;
    color: #fff;
    float: right;
    clear: both;
}

.chat-form {
    position: fixed;
    left: 30%;
    bottom: 0;
    width: 70%;
    background: white;
    padding: 20px;
    display: none;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.chat-message {
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 4px;
    display: block;
    width: 90%;
    float: left;
}

.send-button {
    float: right;
}

.send-button:hover {
    background: #ce214c;
    color: #fff;
}

.empty-state {
    color: #97a6b9;
    max-width: 300px;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
